* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    font-family: 'Courier New', Courier, monospace;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
    background: #348F50;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #56B4D3, #348F50);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #56B4D3, #348F50);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
}

.navbar-item a {
    color: #fff;
}

.navbar-logo {
    border-radius: 25px;
    box-shadow: 3px 3px 0px #355c7d;
}

.title-navbar {
    display: none;
}

.navbar-menu {
    display: flex;
    gap: 1em;
    font-size: 25px;
}

.navbar-menu li:hover {
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.5s ease;
}

.navbar-menu li {
    padding: 5px 14px;
}

.info {
    position: relative;
    border-radius: 10px;
    box-shadow: 3px 3px 0px #355c7d;
}

.drop-menu {
    background: #11998e;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #38ef7d, #11998e);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 1em 0;
    position: absolute;
    display: none;
    border-radius: 10%;
    top: 1.7em;
}

.drop-menu li+li {
    margin-top: 10px;
}

.drop-menu li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
}

.drop-menu li:hover {
    background-color: #67be8e;
    border-radius: 20%;
    transition: 0.5s;
}

.info:hover .drop-menu {
    display: block;
}


input[type=checkbox] {
    display: none;
}

.burguer-menu {
    display: none;
    font-size: 24px;
    user-select: none;
}

footer {
    background: #348F50;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #56B4D3, #348F50);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #56B4D3, #348F50);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #a7a7a7;
    bottom: 0;
    position: absolute;
    width: 100%;
    color: white;
}

.logo-footer {
    text-align: left;
    bottom: 4em;
}

.redes-footer {
    text-align: center;
    font-size: 45px;
    bottom: 0;
}

.copyright-footer {
    font-size: 1.5em;
    text-align: center;
}

@media (max-width: 768px) {

    .navbar-menu {
        display: none;
        position: absolute;
        right: 0px;
        left: 8em;
        top: 3.5em;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        background: #11998e;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #38ef7d, #11998e);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #38ef7d, #11998e);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    .title-navbar {
        display: flex;
        text-align: left;
        font-size: 2.2em;
        font-family: 'Courier New', Courier, monospace;
    }

    .navbar-menu li:hover {
        display: inline-block;
        background-color: #4c9e9e;
        transition: 0.6s ease;
    }

    .navbar-menu li+li {
        top: auto;
    }

    input[type=checkbox]:checked~.navbar-menu {
        display: block;
    }

    .burguer-menu {
        display: block;
    }

    .drop-menu {
        display: none;
        position: relative;
        text-align: center;
        top: 0.1em;
        right: 13px;
        border-radius: 15;
    }

    .drop-menu li:hover {
        background-color: #4c9e9e;
        text-align: center;
    }

    .footer {
        grid-template-columns: 1fr;
        font-size: 15px;
        font-family: 'Courier New', Courier, monospace;
    }

    .logo-footer {
        display: none;
        text-align: left;
        bottom: 4em;
    }

    .redes-footer {
        text-align: center;
        font-size: 40px;
        bottom: 0;
    }

    .copyright-footer {
        font-size: 1em;
        text-align: center;
    }

}

@media (max-width: 576px) {

    .navbar-menu {
        display: none;
        position: absolute;
        right: 0px;
        left: 8em;
        top: 3.5em;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        background: #11998e;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #38ef7d, #11998e);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #38ef7d, #11998e);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    .title-navbar {
        display: flex;
        text-align: left;
        font-size: 2.2em;
        font-family: 'Courier New', Courier, monospace;
    }

    .navbar-menu li:hover {
        display: inline-block;
        background-color: #4c9e9e;
        transition: 0.6s ease;
    }

    .navbar-menu li+li {
        top: auto;
    }

    input[type=checkbox]:checked~.navbar-menu {
        display: block;
    }

    .burguer-menu {
        display: block;
    }

    .drop-menu {
        display: none;
        position: relative;
        text-align: center;
        top: 0.1em;
        right: 13px;
        border-radius: 15;
    }

    .drop-menu li:hover {
        background-color: #4c9e9e;
        text-align: center;
    }

    .footer {
        grid-template-columns: 1fr;
        font-size: 15px;
        font-family: 'Courier New', Courier, monospace;
    }

    .logo-footer {
        display: none;
        text-align: left;
        bottom: 4em;
    }

    .redes-footer {
        text-align: center;
        font-size: 40px;
        bottom: 0;
    }

    .copyright-footer {
        font-size: 1em;
        text-align: center;
    }

}